<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/labs.css">
  <link rel="stylesheet" type="text/css" href="../static/optionBar.css">
  <link rel="stylesheet" type="text/css" href="../static/footer.css">
</head>

<body>
  <div class="barImage">
    
  </div>
  <div class="optionBar"><!-- top bar starts-->
    <img src="../static/img/utlogo.png">
    <a href="/index">Home</a>
    <a href="/syllabus">Syllabus</a>
    <a href="/lectures">Lectures</a>
    <a href="/labs" class="active">Labs</a>
    <a href="/assignment">Assignments</a>
    <a href="/courseTeam">Course Team</a>
    <a href="https://markus.utsc.utoronto.ca">MarkUs</a>
    <a href="https://piazza.com">Piazza</a>

    {% if instructor==True %}
        <a href="/feedbackInstructor">Feedback</a>
        <a href="/personalInstructor">Instructor Personal Page</a>
        <a href="/allMarks">Marks Spreadsheet</a>
    {% endif %}

    {% if instructor==False %}
      <a href="/feedback">Feedback</a>
      {% for post in data %}
        <a href="/personal">{{ post.studentname }}</a>
      {% endfor %}
    {% endif %}
  </div><!-- top bar ends-->

  <div id="pageName">
    <h1>LABS</h1>
  </div>

  <!-- main material starts-->
  <div class="box-title">LAB 1</div><br>
  <div class="box-content">
    <b>Description: </b><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. 
    <br><b>Lab materials related: </b>
    <a href="../static/file/lab.pptx">Lab1 PPT</a><br>
  </div>
  <div class="space"></div>

  <div class="box-title">LAB 2</div><br>
  <div class="box-content">
    <b>Description: </b><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. 
    <br><b>Lab materials related: </b>
    <a href="../static/file/lab.pptx">Lab2 PPT</a><br>
  </div>
  <div class="space"></div>

  <div class="box-title">LAB 3</div><br>
  <div class="box-content">
    <b>Description: </b><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. 
    <br><b>Lab materials related: </b>
    <a href="../static/file/lab.pptx">Lab3 PPT</a><br>
  </div>
  <div class="space"></div>

  <div class="box-title">LAB 4</div><br>
  <div class="box-content">
    <b>Description: </b><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. 
    <br><b>Lab materials related: </b>
    <a href="../static/file/lab.pptx">Lab4 PPT</a><br>
  </div>
  <div class="space"></div>

  <div class="box-title">LAB 5</div><br>
  <div class="box-content">
    <b>Description: </b><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. 
    <br><b>Lab materials related: </b>
    <a href="../static/file/lab.pptx">Lab5 PPT</a><br>
  </div>
  <div class="space"></div>

  <div class="box-title">LAB 6</div><br>
  <div class="box-content">
    <b>Description: </b><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. 
    <br><b>Lab materials related: </b>
    <a href="../static/file/lab.pptx">Lab6 PPT</a><br>
  </div>
  <div class="space"></div>
  <!-- main material ends-->
    
  <div class="footer">
    <footer>
        <h2>CSCB2O</h2>
        <a href="http://web.cs.toronto.edu/people/faculty.htm"><p>Faculty Of Computer Science</p></a>
        <p>Designer: Zhang Ti, Xia Tian</p>
      </footer>
  </div>

</body>
