<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/assignment.css">
  	<link rel="stylesheet" type="text/css" href="../static/optionBar.css">
  	<link rel="stylesheet" type="text/css" href="../static/footer.css">
	<link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
	<div class="optionBar"><!-- top bar starts-->
	    <img src="../static/img/utlogo.png">
	    <a href="/public">Home page of cscb20</a>
	</div><!-- top bar ends-->

	<div class="sider">
		<div class="index">
			<form method="post">
				<p class="headline">Login</p>
				<p class="astyle">Username:</p>
				<input type=text name=username placeholder="please enter your username">
				<p class="astyle">Password:</p>
				<input type=text name=password placeholder="please enter your password">
	  			<p><input type=submit value=Submit>
				<p class="bstyle">your account is auto remembered</p>
				<p class="cstyle"> Do not have account yet?<a href ="/newuser" target="_blank"> Register now</a></p>
			</form>
		</div>
	</div>
	<div class="footer">
    	<footer>
        	<h2>CSCB2O</h2>
        	<a href="http://web.cs.toronto.edu/people/faculty.htm"><p>Faculty Of Computer Science</p></a>
        	<p>Designer: Zhang Ti, Xia Tian</p>
      	</footer>
  	</div>
</body>
</html>